<% provide(:title, 'About Us') %>

  <h1>About Eric</h1>
    <p>
      Eric is an engineer, entrepreneur, and investor.  His areas of expertise are product development, process improvement, and finance.  Recent projects have included:

        <ul>
        	<li>Several Ruby on Rails applications
        	<li>A big data travel start-up</li>
        	<li>A SaaS platform for physical therapists</li>
        	<li>A diagnostic testing company with a cancer marker screening technology</li>
        </ul>
        <br/>
        Eric is always interested in new projects and investment opportunities.

        <br/>
    </p>
  