
<div class="center hero-unit">
	<h1>Eric Lachenmeier's Home Page</h1>
<p>
  This is Eric's home page for the
  <a href="https://calm-peak-8812.herokuapp.com/">Eric's RoR Tutorial</a>
  sample application.
</p>
</div>
