<footer class="footer">
  <small>
  	<a href="/elresume.pdf">Eric's Resume</a>
  </small>
  <nav>
  	<ul>
  	  <li><%= link_to "About",    about_path %></li>
  	  <li><%= link_to "Contact",  contact_path %></li>
  	  <li><a href="http://techcrunch.com">News</a></li>
  	</ul>
  </nav>
</footer>